.header {
    font-weight: bold;
    font-family: Georgia, 'Palatino', sans-serif;
}

.title {
    font-size: x-large;
    align-self: center;
}

.sectionhead {
    font-size: large;
}

p {
    font-size: small;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}

.link {
    color: blue;
}

.link.recipe {
    font-size: medium;
}

.home {
    align-self: center;
    font-size: large;
}

ul li {
    font-weight: bold;
}

li {
    background-color: lightgray;
}

img {
    width: 400;
    height: fit-content;
}